.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.netrc
.swiftpm/
*Generated/
Package.resolved
.swiftlint/
Tests/SnapshotTests/.__snapshots__/*/documentation-*

# SwiftLint Remote Config Cache
.swiftlint/RemoteConfigCache